@import "~materialize-css/dist/css/materialize.min.css";

/*THEME: LIGHT MODE --DEFAULT*/
:root {
    --text--main: #333333;
    --text--dimmed: #2d3131;

    --background--main: #ccd0d0;
    --background--elements: #f0f5f5;
}

/*THEME: DARK MODE*/
[data-theme='dark'] {
    --text--main: #b6b6b6;
    --text--dimmed: #c4c4c4;

    --background--main: #242727;
    --background--elements: #1b1d1d;
}

/*MAIN STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text--main);
    background: var(--background--main);
}

input {
    color: var(--text--dimmed);
}

/*INPUTFIELD*/
.form-input {
    display: flex;
    align-items: center;
}
.input-field {
    flex: 1;
}

/*THEME SWITCH*/
.switch {
    margin: 30px 0;
}

/*TODOLIST*/
.todo-list {
    margin-bottom: 2.8rem;
}

/*TODOITEM*/
.input-field label {
    color: var(--text--dimmed);
}

.todo {
    margin-bottom: 1rem;
    display: flex;
    background-color: var(--background--elements);
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.todo.completed span {
    text-decoration: line-through;
}

.todo label {
    color: var(--text--dimmed);
    flex: 1;
    cursor: pointer;
    overflow-y: auto;
}

.todo .icons-group {
    margin-left: 1rem;
}

.todo .icons-group button i {
    color: var(--text--dimmed);

}
