@import "~materialize-css/dist/css/materialize.min.css";

/*THEME: LIGHT MODE --DEFAULT*/
:root {
    --text--main: #333333;
    --text--dimmed: #2d3131;
    --text--lighten: #848484;

    --background--main: #ccd0d0;
    --background--elements: #f0f5f5;
    --background--input: 204, 208, 208;
}

/*THEME: DARK MODE*/
[data-theme='dark'] {
    --text--main: #b6b6b6;
    --text--dimmed: #c4c4c4;
    --text--lighten: #9e9e9e;

    --background--main: #242727;
    --background--elements: #1b1d1d;
    --background--input: 36, 39, 39;
}

/*MAIN STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 120px;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

h4 {
    margin: 0;
}

body {
    overflow-x: hidden;
    color: var(--text--main);
    background: var(--background--main);
}

input {
    color: var(--text--dimmed);
}

label {
    color: var(--text--lighten);
}

.title {
    transition: 0.5s;
}

.divider {
    background: var(--background--main);
}

.fixed-action-btn {
    right: auto;
    left: 15px;
    bottom: 15px;
}

.background img {
    width: 120%;
    opacity: 0.2;
}

/*INPUTFIELD*/
.form-input {
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: baseline;
    z-index: 10;
    background: var(--background--main);
    background: linear-gradient(0deg, rgba(var(--background--input), 0) 0%, rgba(var(--background--input), 1) 22%);
}

.input-field {
    flex: 1;
}

/*NAV*/
.sidenav {
    background: var(--background--elements);
}

.nav-item {
    padding: 0 32px;
}

.sidenav h4, .sidenav .subheader {
    color: var(--text--main);
}

.user-view {
    position: relative;
}

.user-view >span > a {
    color: var(--text--main);
}

.sidenav-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.tbd {
    background: var(--background--main);
}

.small-icon {
    font-size: 16px;
    vertical-align: middle;
}

/*THEME SWITCH*/
.switch label .lever {
    margin: 0 16px 0 4px;
}

/*TODOLIST*/
.animate-enter .todo {
    opacity: 0;
    transform: translateX(-100%);
}

.animate-enter-active .todo {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 500ms, transform 500ms;
}

.animate-exit .todo {
    opacity: 1;
    transform: translateX(0%);
}

.animate-exit-active .todo {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 500ms, transform 500ms;
}

/*TODOITEM*/
.input-field label {
    color: var(--text--dimmed);
}

.todo {
    margin-bottom: 1rem;
    display: flex;
    background-color: var(--background--elements);
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

.completed {
    text-decoration: line-through;
    color: var(--text--lighten);
}

.todo label {
    color: var(--text--dimmed);
    flex: 1;
    cursor: pointer;
    overflow-y: auto;
}

.todo .icons-group i {
    cursor: pointer;
    margin-left: 1rem;
    color: var(--text--lighten);
}

.todo.editable {
    align-items: center;
}

/*FOOTER*/
.footer-wrapper {
    width: 100%;
    color: var(--text--lighten);
}

.row {
    margin: 3rem 0 3.5rem;
}

.footer-wrapper h6, p {
    line-height: 25px;
}

.footer-wrapper button:disabled {
    background-color: var(--background--elements) !important;
}

@media screen and (max-width: 600px) {
    .footer-wrapper button {
        margin: 2rem 0;
    }

    .footer-wrapper p {
        text-align: right;
    }

    .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 385px) {
    .title {
        font-size: 40px;
    }
}
